* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.required:after {
	content: " *";
	color: red;
}

.login {
	display: flex;
	justify-content: center;
	margin-block: 2rem;
}

.card {
	min-height: 850px;
	border-radius: 8px;
	padding: 1rem;
	min-width: 788px;
}

.card-body {
	gap: 2rem;
	display: grid;
	place-content: center;
	width: 5in;
	min-width: 8in;
}

.welcome {
	padding-left: 4rem;
}

.input-wrapper {
	max-width: 8rem;
	display: grid;
	gap: 2rem;
	max-width: 5in;
	margin-inline: auto;
}

.btn-login {
	height: 40px;
	min-width: 30rem;
}

.title {
	text-align: center;
	height: 32px;
	margin-bottom: .75rem;
	margin-top: 3rem;
}

.title-update {
	padding: 1.25rem 1rem;
}

.card-profile {
	width: 70%;
	height: 850px;
}

.title-profile {
	margin-left: 2rem;
	padding: 2rem 3rem;
	padding-bottom: 0;
}

.button-update {
	padding-right: 4rem;
}

.fields {
	font-size: 20px;
	margin-bottom: 0;
	width: 75%;
	margin-top: 0.5rem;
	margin-left: 1rem;
}

.fields-value {
	width: 75%;
	margin-top: 0.50rem;
	background-color: #f1f1f1;
	border: none;
	height: 50px;
	padding-top: 10px;
	font-size: 20px;
	box-shadow: 0px 13.5px 1rem -13px rgba(0, 0, 0, .15);
}

.logout {
	margin-top: 2rem;
	font-size: 26px;
}
